body {
  margin: 0;
  background: #0b0f1a;
  color: #00ffa2;
  font-family: Arial, sans-serif;
}

.screen {
  height: calc(100vh - 60px);
  padding: 20px;
  text-align: center;
}

.hidden {
  display: none;
}

.tap-btn {
  font-size: 36px;
  padding: 30px 70px;
  margin: 25px;
  background: #00ffa2;
  border: none;
  cursor: pointer;
}

button {
  margin: 10px;
  padding: 15px;
  font-size: 16px;
  background: #00ffa2;
  border: none;
  cursor: pointer;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

/* BOTTOM MENU */
.bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #0f1424;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 26px;
}

.bottom-menu div {
  cursor: pointer;
  opacity: 0.5;
}

.bottom-menu .active {
  opacity: 1;
  transform: scale(1.2);
}
